html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
    background-color: #10161d;
    overflow: auto;
}

.grid-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18vw, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}